# Docs = https://docs.npmjs.com/misc/developers#keeping-files-out-of-your-package
#
# Commonly-used directives:
#
# .vscode/
# bin/
# build/
# css/
# coverage/
# examples/
# release/
# scripts/
# src/
# support/
# test/
# bower.json
# Gruntfile.js
# .css.map
# *~
# .babelrc
